[build-system]

requires = [
    "setuptools>=48.0",
    "wheel",
    "cython>=0.29.24",
    "setuptools_scm[toml]>=6.2",

    # use oldest-supported-numpy which provides the oldest numpy version with
    # wheels on PyPI
    #
    # see: https://github.com/scipy/oldest-supported-numpy/blob/main/setup.cfg
    "oldest-supported-numpy; python_version!='3.10' or platform_system!='Windows' or platform_python_implementation=='PyPy'",

    # For CPython 3.10 under Windows, SciPy requires NumPy 1.22.3 while the
    # oldest supported NumPy is defined as 1.21.6. We therefore need to force
    # it for this specific configuration. For details, see
    # https://github.com/scipy/scipy/blob/c58b608c83d30800aceee6a4dab5c3464cb1de7d/pyproject.toml#L38-L41
    "numpy==1.22.3; python_version=='3.10' and platform_system=='Windows' and platform_python_implementation != 'PyPy'",

    "scikit-learn>=1.2rc1,<1.3a0",
    "scipy>=1.3.2",
]

build-backend = "setuptools.build_meta"

[tool.isort]
profile = "black"
src_paths = ["src", "tests"]
skip = "docs/conf.py"

[tool.black]
include = '\.pyi?$'

[tool.setuptools_scm]
write_to = "src/wildboar/version.py"

[tool.docformatter]
wrap-summaries = 79
wrap-descriptions = 72
non-strict = false
