accessible-pygments
furo>=2021.2.21b25
matplotlib
numpydoc>=1.5.0
sphinx
sphinx-autoapi>=1.7.0
sphinx-copybutton>=0.5.0
sphinx-design>=0.2.0
sphinx-inline-tabs
sphinx-toggleprompt
sphinx_simpleversion @ git+https://github.com/isaksamsten/sphinx_simpleversion.git@main
