name: Build, test and upload to PyPI

on:
  push:
    branches:
      - master
      - 1.0.X
      - 1.1.X
      - migrate-docs

    tags:
      - v*

  pull_request:
    types: [opened, reopened]

jobs:
  build_wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu-latest, windows-latest, macos-latest]
        # pyver: [cp38, cp39, cp310, cp311]
        os: [ubuntu-latest]
        pyver: [cp311]

    steps:
      - uses: actions/checkout@v3

      - name: Fetch all history for all tags and branches
        run: |
          git fetch --prune --unshallow
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.11.3
        env:
          CIBW_BUILD: ${{matrix.pyver}}-*
          CIBW_ARCHS_MACOS: "x86_64 universal2 arm64"
          CIBW_SKIP: "*-win32 *-manylinux_i686 *-musllinux_x86_64 *-musllinux_i686"
          CIBW_BEFORE_TEST: pip install -r {package}/requirements-dev.txt
          CIBW_TEST_COMMAND: python -m pytest {package}/tests --benchmark-skip

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

  build_sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Fetch all history for all tags and branches
        run: |
          git fetch --prune --unshallow
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: "3.9"

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install build

      - name: Build sdist
        run: |
          python -m build --sdist

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz

  build_docs:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && ${{ !startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - uses: actions/checkout@v3

      - name: Fetch all branches
        run: |
          git fetch --prune --unshallow
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: List tags
        run: git tag

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: "3.9"

      - name: Install requirements
        run: |
          sudo apt-get install graphviz pandoc
          python -m pip install --upgrade pip
          python -m pip install -r docs/requirements.txt

      - name: Debug information
        run: |
          echo "Running on branch: $GITHUB_REF_NAME"

      - name: Install latest version
        run: pip install .

      - name: Build docmentation
        run: |
          mkdir html
          python -I -m sphinx_build docs html

      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: new_doc_test
          publish_dir: ./html
          destination_dir: ${{ github.ref_name }}

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
